{% if include.post.categories contains 'outdated' %}
<p class="disclaimer outdated"><strong>Disclaimer:</strong> I've grown up a bit and learned a lot since this blog was started.  In the beginning I took tips from the likes of John Chow and Shoemoney and tried to write titles and content for Digg and Reddit.  In the end it didn't do me much good and most of it just seems silly looking back.  If you're interested anyway, here's what I wrote back then, but take it with a grain of salt.</p>
{% endif %}
{% if include.post.categories contains 'relevant' %}
<p class="disclaimer relevant"><strong>Disclaimer:</strong> Check the date!  This post was written way back in 2008.  If there are technical things in here, they may be outdated, or there may be better ways to do them by now.  You've been warned.</p>
{% endif %}